/* prueba */ /*reseteo*/
* {
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: "ubuntu";
  src: url(https://github.com/MaicorBorges/ProyectoCoder/blob/master/fonts/Ubuntu/Ubuntu-Regular.ttf);
}
@font-face {
  font-family: "aboreto";
  src: url(https://github.com/MaicorBorges/ProyectoCoder/blob/master/fonts/Aboreto/Aboreto-Regular.ttf);
}
@font-face {
  font-family: "yanone";
  src: url(https://github.com/MaicorBorges/ProyectoCoder/blob/master/fonts/Yanone_Kaffeesatz/YanoneKaffeesatz-VariableFont_wght.ttf);
}
@font-face {
  font-family: face;
  src: url();
}
.gridhome {
  display: grid;
  grid-template-columns: 800px;
  grid-template-rows: 100px 500px 100px;
}

.nombretitulo {
  margin-top: 2rem;
  letter-spacing: 1em;
  font-family: "aboreto";
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.nombretitulo .titulohome {
  font-size: 1.5em;
}

.navbar .navbar-letra {
  font-family: "aboreto";
}

/*reseteo*/
* {
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: "ubuntu";
  src: url(https://github.com/MaicorBorges/ProyectoCoder/blob/master/fonts/Ubuntu/Ubuntu-Regular.ttf);
}
@font-face {
  font-family: "aboreto";
  src: url(https://github.com/MaicorBorges/ProyectoCoder/blob/master/fonts/Aboreto/Aboreto-Regular.ttf);
}
@font-face {
  font-family: "yanone";
  src: url(https://github.com/MaicorBorges/ProyectoCoder/blob/master/fonts/Yanone_Kaffeesatz/YanoneKaffeesatz-VariableFont_wght.ttf);
}
@font-face {
  font-family: face;
  src: url();
}
/*reseteo*/
* {
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: "ubuntu";
  src: url(https://github.com/MaicorBorges/ProyectoCoder/blob/master/fonts/Ubuntu/Ubuntu-Regular.ttf);
}
@font-face {
  font-family: "aboreto";
  src: url(https://github.com/MaicorBorges/ProyectoCoder/blob/master/fonts/Aboreto/Aboreto-Regular.ttf);
}
@font-face {
  font-family: "yanone";
  src: url(https://github.com/MaicorBorges/ProyectoCoder/blob/master/fonts/Yanone_Kaffeesatz/YanoneKaffeesatz-VariableFont_wght.ttf);
}
@font-face {
  font-family: face;
  src: url();
}
.frasebio {
  font-family: "aboreto";
  font-size: 1.5rem;
  color: rgb(196, 128, 40);
}

.textobio {
  font-family: "ubuntu", sans-serif;
  font-size: medium;
  color: rgb(42, 39, 7);
  text-align: justify;
}
.textobio .resaltebio {
  font-weight: bolder;
  color: rgb(196, 128, 40);
}

/*reseteo*/
* {
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: "ubuntu";
  src: url(https://github.com/MaicorBorges/ProyectoCoder/blob/master/fonts/Ubuntu/Ubuntu-Regular.ttf);
}
@font-face {
  font-family: "aboreto";
  src: url(https://github.com/MaicorBorges/ProyectoCoder/blob/master/fonts/Aboreto/Aboreto-Regular.ttf);
}
@font-face {
  font-family: "yanone";
  src: url(https://github.com/MaicorBorges/ProyectoCoder/blob/master/fonts/Yanone_Kaffeesatz/YanoneKaffeesatz-VariableFont_wght.ttf);
}
@font-face {
  font-family: face;
  src: url();
}
.col_obra1 .cont-foto-obra1 {
  margin-top: 5rem;
}
.col_obra1 .cont-foto-obra1 .foto-obra1 {
  display: flex;
  top: 0px;
}

.subtituloobra {
  color: rgb(42, 39, 7);
  font-size: 2rem;
  font-family: "ubuntu", sans-serif;
  margin-top: 10rem;
}

.textovidaobra {
  font-size: 1.2rem;
  font-family: "ubuntu", sans-serif;
  padding-left: 100px;
}

.subraku {
  color: rgb(42, 39, 7);
  font-size: 2rem;
  font-family: "ubuntu", sans-serif;
}

.textoraku {
  font-size: 1.2rem;
  font-family: "ubuntu", sans-serif;
}

.subesculturas {
  color: rgb(42, 39, 7);
  font-size: 2rem;
  font-family: "ubuntu", sans-serif;
}

/*reseteo*/
* {
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: "ubuntu";
  src: url(https://github.com/MaicorBorges/ProyectoCoder/blob/master/fonts/Ubuntu/Ubuntu-Regular.ttf);
}
@font-face {
  font-family: "aboreto";
  src: url(https://github.com/MaicorBorges/ProyectoCoder/blob/master/fonts/Aboreto/Aboreto-Regular.ttf);
}
@font-face {
  font-family: "yanone";
  src: url(https://github.com/MaicorBorges/ProyectoCoder/blob/master/fonts/Yanone_Kaffeesatz/YanoneKaffeesatz-VariableFont_wght.ttf);
}
@font-face {
  font-family: face;
  src: url();
}
.nombretitulo .tituloactiv {
  color: rgb(42, 39, 7);
  font-size: 2rem;
  font-family: "aboreto";
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.carrousel-dimension {
  max-width: 50%;
}

.texto-carrousel {
  display: flex;
  flex-direction: row;
  justify-content: center;
  font-family: "ubuntu";
  font-size: 1rem;
}

.titulo-carrousel {
  font-size: 3rem;
  color: rgb(42, 39, 7);
  font-family: "ubuntu";
}

.navbar-letra {
  font-size: 1.3rem;
}

.iconospie {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

/*# sourceMappingURL=style.css.map */
