<<<<<<< HEAD
=======
/* prueba */ /*reseteo*/
>>>>>>> f02328fdce9793aad169ebd90fbabb75ede3f500
* {
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: "ubuntu";
<<<<<<< HEAD
  src: url("https://fonts.googleapis.com/css2?family=Aboreto&family=Ubuntu:wght@300&family=Yanone+Kaffeesatz:wght@200;300&display=swap");
}
@font-face {
  font-family: "aboreto";
  src: url("https://fonts.googleapis.com/css2?family=Aboreto&family=Ubuntu:wght@300&family=Yanone+Kaffeesatz:wght@200;300&display=swap");
}
@font-face {
  font-family: "yanone";
  src: url("https://fonts.googleapis.com/css2?family=Aboreto&family=Ubuntu:wght@300&family=Yanone+Kaffeesatz:wght@200;300&display=swap");
=======
  src: url(https://github.com/MaicorBorges/ProyectoCoder/blob/master/fonts/Ubuntu/Ubuntu-Regular.ttf);
  src: url(../../fonts/Ubuntu/Ubuntu-Regular.ttf);
}
@font-face {
  font-family: "aboreto";
  src: url(https://github.com/MaicorBorges/ProyectoCoder/blob/master/fonts/Aboreto/Aboreto-Regular.ttf);
  src: url(../../fonts/Aboreto/Aboreto-Regular.ttf);
}
@font-face {
  font-family: "yanone";
  src: url(https://github.com/MaicorBorges/ProyectoCoder/blob/master/fonts/Yanone_Kaffeesatz/YanoneKaffeesatz-VariableFont_wght.ttf);
  src: url(../../fonts/Yanone_Kaffeesatz/YanoneKaffeesatz-VariableFont_wght.ttf);
}
@font-face {
  font-family: face;
  src: url();
>>>>>>> f02328fdce9793aad169ebd90fbabb75ede3f500
}
.gridhome {
  display: grid;
  grid-template-columns: 800px;
  grid-template-rows: 100px 500px 100px;
}

.nombretitulo {
  margin-top: 2rem;
  letter-spacing: 1em;
  font-family: "aboreto";
  display: flex;
  flex-direction: row;
  justify-content: center;
}
<<<<<<< HEAD

.titulohome {
  font-size: 1.5em;
}

* {
  margin: 0;
  padding: 0;
=======
.nombretitulo .titulohome {
  font-size: 1.5em;
}

.navbar .navbar-letra {
  font-family: "aboreto";
>>>>>>> f02328fdce9793aad169ebd90fbabb75ede3f500
}

@font-face {
  font-family: "ubuntu";
  src: url("https://fonts.googleapis.com/css2?family=Aboreto&family=Ubuntu:wght@300&family=Yanone+Kaffeesatz:wght@200;300&display=swap");
}
@font-face {
  font-family: "aboreto";
  src: url("https://fonts.googleapis.com/css2?family=Aboreto&family=Ubuntu:wght@300&family=Yanone+Kaffeesatz:wght@200;300&display=swap");
}
@font-face {
  font-family: "yanone";
  src: url("https://fonts.googleapis.com/css2?family=Aboreto&family=Ubuntu:wght@300&family=Yanone+Kaffeesatz:wght@200;300&display=swap");
}
* {
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: "ubuntu";
<<<<<<< HEAD
  src: url("https://fonts.googleapis.com/css2?family=Aboreto&family=Ubuntu:wght@300&family=Yanone+Kaffeesatz:wght@200;300&display=swap");
}
@font-face {
  font-family: "aboreto";
  src: url("https://fonts.googleapis.com/css2?family=Aboreto&family=Ubuntu:wght@300&family=Yanone+Kaffeesatz:wght@200;300&display=swap");
}
@font-face {
  font-family: "yanone";
  src: url("https://fonts.googleapis.com/css2?family=Aboreto&family=Ubuntu:wght@300&family=Yanone+Kaffeesatz:wght@200;300&display=swap");
=======
  src: url(https://github.com/MaicorBorges/ProyectoCoder/blob/master/fonts/Ubuntu/Ubuntu-Regular.ttf);
  src: url(../../fonts/Ubuntu/Ubuntu-Regular.ttf);
}
@font-face {
  font-family: "aboreto";
  src: url(https://github.com/MaicorBorges/ProyectoCoder/blob/master/fonts/Aboreto/Aboreto-Regular.ttf);
  src: url(../../fonts/Aboreto/Aboreto-Regular.ttf);
}
@font-face {
  font-family: "yanone";
  src: url(https://github.com/MaicorBorges/ProyectoCoder/blob/master/fonts/Yanone_Kaffeesatz/YanoneKaffeesatz-VariableFont_wght.ttf);
  src: url(../../fonts/Yanone_Kaffeesatz/YanoneKaffeesatz-VariableFont_wght.ttf);
}
@font-face {
  font-family: face;
  src: url();
}
/*reseteo*/
* {
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: "ubuntu";
  src: url(https://github.com/MaicorBorges/ProyectoCoder/blob/master/fonts/Ubuntu/Ubuntu-Regular.ttf);
  src: url(../../fonts/Ubuntu/Ubuntu-Regular.ttf);
}
@font-face {
  font-family: "aboreto";
  src: url(https://github.com/MaicorBorges/ProyectoCoder/blob/master/fonts/Aboreto/Aboreto-Regular.ttf);
  src: url(../../fonts/Aboreto/Aboreto-Regular.ttf);
}
@font-face {
  font-family: "yanone";
  src: url(https://github.com/MaicorBorges/ProyectoCoder/blob/master/fonts/Yanone_Kaffeesatz/YanoneKaffeesatz-VariableFont_wght.ttf);
  src: url(../../fonts/Yanone_Kaffeesatz/YanoneKaffeesatz-VariableFont_wght.ttf);
}
@font-face {
  font-family: face;
  src: url();
>>>>>>> f02328fdce9793aad169ebd90fbabb75ede3f500
}
.frasebio {
  font-family: "aboreto";
  font-size: 1.5rem;
  color: rgb(196, 128, 40);
}

.textobio {
  font-family: "ubuntu", sans-serif;
<<<<<<< HEAD
  font-size: small;
=======
  font-size: medium;
>>>>>>> f02328fdce9793aad169ebd90fbabb75ede3f500
  color: rgb(42, 39, 7);
  text-align: justify;
}
.textobio .resaltebio {
  font-weight: bolder;
  color: rgb(196, 128, 40);
<<<<<<< HEAD
}

fotobio {
  background: transparent;
}

* {
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: "ubuntu";
  src: url("https://fonts.googleapis.com/css2?family=Aboreto&family=Ubuntu:wght@300&family=Yanone+Kaffeesatz:wght@200;300&display=swap");
}
@font-face {
  font-family: "aboreto";
  src: url("https://fonts.googleapis.com/css2?family=Aboreto&family=Ubuntu:wght@300&family=Yanone+Kaffeesatz:wght@200;300&display=swap");
}
@font-face {
  font-family: "yanone";
  src: url("https://fonts.googleapis.com/css2?family=Aboreto&family=Ubuntu:wght@300&family=Yanone+Kaffeesatz:wght@200;300&display=swap");
=======
}

/*reseteo*/
* {
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: "ubuntu";
  src: url(https://github.com/MaicorBorges/ProyectoCoder/blob/master/fonts/Ubuntu/Ubuntu-Regular.ttf);
  src: url(../../fonts/Ubuntu/Ubuntu-Regular.ttf);
}
@font-face {
  font-family: "aboreto";
  src: url(https://github.com/MaicorBorges/ProyectoCoder/blob/master/fonts/Aboreto/Aboreto-Regular.ttf);
  src: url(../../fonts/Aboreto/Aboreto-Regular.ttf);
}
@font-face {
  font-family: "yanone";
  src: url(https://github.com/MaicorBorges/ProyectoCoder/blob/master/fonts/Yanone_Kaffeesatz/YanoneKaffeesatz-VariableFont_wght.ttf);
  src: url(../../fonts/Yanone_Kaffeesatz/YanoneKaffeesatz-VariableFont_wght.ttf);
}
@font-face {
  font-family: face;
  src: url();
>>>>>>> f02328fdce9793aad169ebd90fbabb75ede3f500
}
.col_obra1 .cont-foto-obra1 {
  margin-top: 5rem;
}
.col_obra1 .cont-foto-obra1 .foto-obra1 {
  display: flex;
  top: 0px;
}

.subtituloobra {
  color: rgb(42, 39, 7);
  font-size: 2rem;
  font-family: "ubuntu", sans-serif;
  margin-top: 10rem;
}

.textovidaobra {
  font-size: 1.2rem;
  font-family: "ubuntu", sans-serif;
  padding-left: 100px;
}

.subraku {
  color: rgb(42, 39, 7);
  font-size: 2rem;
  font-family: "ubuntu", sans-serif;
}

.textoraku {
  font-size: 1.2rem;
  font-family: "ubuntu", sans-serif;
}

.subesculturas {
  color: rgb(42, 39, 7);
  font-size: 2rem;
  font-family: "ubuntu", sans-serif;
}

<<<<<<< HEAD
=======
/*reseteo*/
>>>>>>> f02328fdce9793aad169ebd90fbabb75ede3f500
* {
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: "ubuntu";
<<<<<<< HEAD
  src: url("https://fonts.googleapis.com/css2?family=Aboreto&family=Ubuntu:wght@300&family=Yanone+Kaffeesatz:wght@200;300&display=swap");
}
@font-face {
  font-family: "aboreto";
  src: url("https://fonts.googleapis.com/css2?family=Aboreto&family=Ubuntu:wght@300&family=Yanone+Kaffeesatz:wght@200;300&display=swap");
}
@font-face {
  font-family: "yanone";
  src: url("https://fonts.googleapis.com/css2?family=Aboreto&family=Ubuntu:wght@300&family=Yanone+Kaffeesatz:wght@200;300&display=swap");
}
.nombretitulo .tituloactiv {
  color: rgb(42, 39, 7);
  font-size: 1.5rem;
=======
  src: url(https://github.com/MaicorBorges/ProyectoCoder/blob/master/fonts/Ubuntu/Ubuntu-Regular.ttf);
  src: url(../../fonts/Ubuntu/Ubuntu-Regular.ttf);
}
@font-face {
  font-family: "aboreto";
  src: url(https://github.com/MaicorBorges/ProyectoCoder/blob/master/fonts/Aboreto/Aboreto-Regular.ttf);
  src: url(../../fonts/Aboreto/Aboreto-Regular.ttf);
}
@font-face {
  font-family: "yanone";
  src: url(https://github.com/MaicorBorges/ProyectoCoder/blob/master/fonts/Yanone_Kaffeesatz/YanoneKaffeesatz-VariableFont_wght.ttf);
  src: url(../../fonts/Yanone_Kaffeesatz/YanoneKaffeesatz-VariableFont_wght.ttf);
}
@font-face {
  font-family: face;
  src: url();
}
.nombretitulo .tituloactiv {
  color: rgb(42, 39, 7);
  font-size: 2rem;
>>>>>>> f02328fdce9793aad169ebd90fbabb75ede3f500
  font-family: "aboreto";
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.carrousel-dimension {
  max-width: 50%;
}

.texto-carrousel {
  display: flex;
  flex-direction: row;
  justify-content: center;
  font-family: "ubuntu";
  font-size: 1rem;
}

.titulo-carrousel {
  font-size: 1.5rem;
  color: rgb(42, 39, 7);
  font-family: "ubuntu";
}

<<<<<<< HEAD
* {
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: "ubuntu";
  src: url("https://fonts.googleapis.com/css2?family=Aboreto&family=Ubuntu:wght@300&family=Yanone+Kaffeesatz:wght@200;300&display=swap");
}
@font-face {
  font-family: "aboreto";
  src: url("https://fonts.googleapis.com/css2?family=Aboreto&family=Ubuntu:wght@300&family=Yanone+Kaffeesatz:wght@200;300&display=swap");
}
@font-face {
  font-family: "yanone";
  src: url("https://fonts.googleapis.com/css2?family=Aboreto&family=Ubuntu:wght@300&family=Yanone+Kaffeesatz:wght@200;300&display=swap");
}
.navbar-letra {
  font-family: "aboreto";
  font-size: 1rem;
}

* {
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: "ubuntu";
  src: url("https://fonts.googleapis.com/css2?family=Aboreto&family=Ubuntu:wght@300&family=Yanone+Kaffeesatz:wght@200;300&display=swap");
}
@font-face {
  font-family: "aboreto";
  src: url("https://fonts.googleapis.com/css2?family=Aboreto&family=Ubuntu:wght@300&family=Yanone+Kaffeesatz:wght@200;300&display=swap");
}
@font-face {
  font-family: "yanone";
  src: url("https://fonts.googleapis.com/css2?family=Aboreto&family=Ubuntu:wght@300&family=Yanone+Kaffeesatz:wght@200;300&display=swap");
}
=======
.navbar-letra {
  font-size: 1.3rem;
}

>>>>>>> f02328fdce9793aad169ebd90fbabb75ede3f500
.iconospie {
  display: flex;
  flex-direction: row;
  justify-content: center;
<<<<<<< HEAD
}

* {
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: "ubuntu";
  src: url("https://fonts.googleapis.com/css2?family=Aboreto&family=Ubuntu:wght@300&family=Yanone+Kaffeesatz:wght@200;300&display=swap");
}
@font-face {
  font-family: "aboreto";
  src: url("https://fonts.googleapis.com/css2?family=Aboreto&family=Ubuntu:wght@300&family=Yanone+Kaffeesatz:wght@200;300&display=swap");
}
@font-face {
  font-family: "yanone";
  src: url("https://fonts.googleapis.com/css2?family=Aboreto&family=Ubuntu:wght@300&family=Yanone+Kaffeesatz:wght@200;300&display=swap");
=======
>>>>>>> f02328fdce9793aad169ebd90fbabb75ede3f500
}

/*# sourceMappingURL=style.css.map */
