*{
    padding: 0;
    margin: 0;
}
/* Home y nav*/

.gridhome{
display: grid;
grid-template-columns: 800px;
grid-template-rows: 100px 500px 100px;
}



.nombretitulo {
    margin-top: 2rem;
    letter-spacing: 1em;
    font-family: 'Aboreto';
    display: flex;
    justify-content: center;

}

.titulohome { 
    font-size: 180%;
    /* justify-content: center;
    color: grey; */
}


.navbar-letra{
    font-family: 'Aboreto';
  
}


.iconospie {
    display: flex;
    justify-content: center;
}

.container-config{

    margin-top: 5rem;
}

.container-config2{
    margin-top: 10rem;
}


/*Bio*/



.frasebio {
    font-family: 'Aboreto';
    font-size: 2rem;
    color: rgb(196, 128, 40);
   
}

.textobio {
    font-family: 'Ubuntu', sans-serif;
    font-size: medium;
    color: rgb(42, 39, 7);
  

}

.fotobio {
    
}




/*OBRA*/

.sectionobra{

display: contents;

} 

.obraintro {
    display: flex;
    align-content: space-between;
}



.textovidaobra {
    font-size: 1.2rem;
    font-family: 'Ubuntu', sans-serif;
    padding-left: 100px;

}

.subtituloobra {
    /* position: relative;
    top: -300px;
    left: 650px;
    display: inline; */

    color: rgb(42, 39, 7);
    font-size: 2rem;
    font-family: 'Ubuntu', sans-serif;

}


.fotoobraprincipal {
    display: flex;
    top: 0px;

}




.divraku {
    display: flex;
    align-content: space-between;
}


.subraku {
    color: rgb(42, 39, 7);
    font-size: 2rem;
    font-family: 'Ubuntu', sans-serif;
 

}

.textoraku {
    font-size: 1.2rem;
    font-family: 'Ubuntu', sans-serif;
    /* width: 400px;
    height: 200px;
    padding-left: 100px; */
 
}



.subesculturas {
    color: rgb(42, 39, 7);
    font-size: 2rem;
    font-family: 'Ubuntu', sans-serif;
    /* position: relative;
    bottom: 1000px;
    left: 240px; */

}

.divescultura {
    /* margin-bottom: -600px; */
}






/*Actividades*/


.tituloactiv{
    color: rgb(42, 39, 7);
    font-size: 5rem;
    font-family: 'Ubuntu', sans-serif;

    display:flex;
    justify-content: end;

}


.carrousel-dimension{
max-width: 50%;    
} 


.texto-carrousel{

    font-size:  1.5rem;
}


.titulo-carrousel{
    font-size: 3rem;
    color: rgb(42, 39, 7);
    font-family: 'Ubuntu', sans-serif;
}



.textencuentros{
font-size: 1rem;
font-family: 'Ubuntu', sans-serif;

}
