/*reseteo*/

*{
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: "ubuntu";
    src: url(https://github.com/MaicorBorges/ProyectoCoder/blob/master/fonts/Ubuntu/Ubuntu-Regular.ttf);
    src: url(../../fonts/Ubuntu/Ubuntu-Regular.ttf);

}

@font-face {
    font-family: "aboreto";
    src: url(https://github.com/MaicorBorges/ProyectoCoder/blob/master/fonts/Aboreto/Aboreto-Regular.ttf);
    src: url(../../fonts/Aboreto/Aboreto-Regular.ttf);
}

@font-face {
    font-family: "yanone";
    src: url(https://github.com/MaicorBorges/ProyectoCoder/blob/master/fonts/Yanone_Kaffeesatz/YanoneKaffeesatz-VariableFont_wght.ttf);
    src: url(../../fonts/Yanone_Kaffeesatz/YanoneKaffeesatz-VariableFont_wght.ttf);
}

@font-face {
    font-family: face;
    src: url();
} 