/*reseteo*/

*{
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: "ubuntu";
    src: url(../../fonts/Aboreto\,Ubuntu\,Yanone_Kaffeesatz/Ubuntu);
}

@font-face {
    font-family: "aboreto";
    src: url(../../fonts/Aboreto\,Ubuntu\,Yanone_Kaffeesatz/Aboreto);
}

@font-face {
    font-family: "yanone";
    src: url(../../fonts/Aboreto\,Ubuntu\,Yanone_Kaffeesatz/Yanone_Kaffeesatz);
}