
$font-titulo:'aboreto';
$font-frase:'ubuntu';
$font-contacto:'yanone';
$font-color1:rgb(196, 128, 40);
$font-color2:rgb(42, 39, 7);

@mixin flex-row-center {
    display: flex;
    flex-direction: row;
    justify-content: center;
    
}