@import '../base/variables';

.nombretitulo{
    .tituloactiv{
    color: rgb(42, 39, 7);
    font-size: 2rem;
    font-family: $font-titulo;
    @include flex-row-center;

    }
}

.carrousel-dimension{
    max-width: 50%;    
    
} 
.texto-carrousel{
    @include flex-row-center;
    font-family: $font-frase;
    font-size:  1rem;
}


.titulo-carrousel{
    font-size: 3rem;
    color: rgb(42, 39, 7);
    font-family: $font-frase;
}



