@import '../base/variables';





.frasebio {
    font-family: $font-titulo;
    font-size: 1.5rem;
    color: $font-color1;

   
}

.textobio {
    font-family: $font-frase, sans-serif;
    font-size: medium;
    color: $font-color2;
    text-align: justify;

    .resaltebio{
        font-weight: bolder;
        color: $font-color1;
    }
  

}