@import '../base/variables';

        .col_obra1{

    .cont-foto-obra1{
        margin-top: 5rem;

        .foto-obra1{
            display: flex;
            top: 0px;
       
        }
    } 
  }

.subtituloobra {
    color: $font-color2;
    font-size: 2rem;
    font-family: $font-frase, sans-serif;
    margin-top: 10rem;
  }
 .textovidaobra {
    font-size: 1.2rem;
    font-family: $font-frase, sans-serif;
    padding-left: 100px;
}

     .subraku{
        color: rgb(42, 39, 7);
        font-size: 2rem;
        font-family: $font-frase, sans-serif;

    }
    .textoraku{
        font-size: 1.2rem;
        font-family: $font-frase, sans-serif;

    }

 

    .subesculturas {
        color: rgb(42, 39, 7);
        font-size: 2rem;
        font-family: $font-frase, sans-serif;
        }

